Language: Cpp
BasedOnStyle: Google
IncludeCategories:
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<(gtest|elfio)'
    Priority:        4
  - Regex:           '<[[:alnum:]_]+>'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
